<!DOCTYPE html>
<html lang="es">
<body>
<div th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#5165d6">
    <meta name="msapplication-navbutton-color" content="#5165d6">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5165d6">
    <link th:href="@{/asset/vendors/materialize/materialize.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/asset/vendors/material-icons/material-icons.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/asset/vendors/prism/prism.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/asset/vendors/DataTables/media/css/dataTables.materializecss.min.css}" type="text/css"
          rel="stylesheet"/>
    <link th:href="@{/asset/vendors/sweetalert/sweetalert.css}" type="text/css"
          rel="stylesheet"/>
    <link th:href="@{/asset/css/app.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/asset/css/theme-1.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/asset/css/style.css}" type="text/css" rel="stylesheet"/>
</div>
</body>
</html>