<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Inicio</title>
</head>
<body>
<div class="page-wrapper">
    <div id="control-body" class="fixed-sidebar medium-sidebar fixed-nav">
        <div th:replace="fragments/nav :: nav"></div>
        <div th:replace="fragments/menu :: menu"></div>
        <div class="search-overlay hide"></div>
        <main class="page-body">
            <div class="row">
                <div class="col s12 page-title-div">
                    <!--Page Title-->
                    <h1 class="header">Procesos</h1>
                    <p class="header-desc"><a href="https://datatables.net/" target="_blank">DataTables</a> is a plug-in
                        for the <a href="https://jquery.com/" target="_blank">jQuery</a> Javascript library. It is a
                        highly flexible tool, based upon the foundations of progressive
                        enhancement, and will add advanced interaction controls to any HTML table.</p>
                    <!--Page breadcrumbs-->
                    <ol class="breadcrumbs left">
                        <li><a href="dashboard.html">Procesos</a></li>
                        <li class="active">Listado</li>
                    </ol>
                    <!--End page breadcrumbs-->
                </div>
            </div>
            <section class="section">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="material-table z-depth-1">
                                <div class="table-header">
                                    <span class="table-title">Lista de procesos</span>
                                    <div class="actions">
                                        <a href="Javascript:void(0)"
                                           class="waves-effect tooltipped  btn-flat"
                                           data-position="bottom" data-tooltip="Crear proceso"><i
                                                class="material-icons">add</i></a>
                                        <a href="Javascript:void(0)"
                                           class="search-toggle waves-effect tooltipped btn-flat"
                                           data-tooltip="Ver todos los logs"><i
                                                class="material-icons">description</i></a>
                                        <a href="Javascript:void(0)"
                                           class="search-toggle waves-effect tooltipped btn-flat"
                                           data-tooltip="Actualizar"><i
                                                class="material-icons">refresh</i></a>
                                    </div>
                                </div>
                                <table id="export-button-datatable" class="bordered highlight">
                                    <thead>
                                    <tr>
                                        <th>C.I./R.U.C.</th>
                                        <th>Carpeta ra&iacute;z</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="route : ${routes}">
                                        <td th:utext="${route.supplierNumber}"></td>
                                        <td th:utext="${route.rootFolder}"></td>
                                        <td th:if="${!route.enabled}">
                                            <div class="chip" style="background-color: #f8d7da !important;">Detenido</div>
                                        </td>
                                        <td th:if="${route.enabled}">
                                            <div class="chip" style="background-color: #d4edda !important;">En ejecuci&oacute;n</div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>